@import './Create.scss';

.batch-create {
    .input-item {
        :deep(.el-datetime) {
            width: 100%;

            .el-input__inner {
                border: none;
                outline: none;
            }

        }

        .all-amount {
            width: 150px;
        }
    }


    .batch-create-list {

        .batch-create-item {

            &.un-selected {
                background: #eee;

                input,
                textarea {
                    background: #eee;
                }

                .price {
                    background: #fff;
                }
            }
        }
    }
}

.disabled {
    cursor: not-allowed;
}

.same-sale-drsc {
    padding: 10px;
    background: #fff;
    margin-top: 15px;

    .name {
        margin-right: 5px;
        line-height: 40px;
    }

    .el-switch {
        margin-top: 10px;
    }

    .el-datetime {
        margin-left: 15px;
    }

    .textarea {
        margin-left: 15px;
        padding: 10px;
        border: 1px solid #eee;
        border-radius: 6px;

        textarea {
            border: none;
            outline: none;
            width: 100%;
            max-width: 100%;
            min-width: 100%;
        }

        .confirm {
            text-align: right;
        }
    }
}